@model IEnumerable<ClassifiedAds.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <p>
                    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@item.LogoUrl" style="height:40px; margin-right:25px;" />
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="ri-edit-line"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="ri-file-list-3-line"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="ri-delete-bin-line"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>